$purple: #6244C5;

.name {
    color: #282828;

    span {
        display: inline-block;
        height: 12px;
        margin-right: 10px;
        position: relative;
        width: 100px;

        &::before {
            background-color: #282828;
            content: '';
            display: block;
            height: 1px;
            position: absolute;
            top: 50%;
            // transform: translate(0, -50%);
            width: 100%;
        }
    }
}

.description {
    line-height: 1.8em;
    margin-top: 40px;
}

h1 {
    font-size: 50px;
    font-weight: 600;
}

.photo {
    align-items: center;
    
    .icon {
        animation: morph 6s linear infinite;
        border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
        height: 300px;
        overflow: hidden;
        width: 300px;
        
        .icon-image {
            background-image: url(https://assets.codepen.io/8370674/icons.png);
            background-position: 0 -320px;
            background-repeat: no-repeat;
            background-size: 610px 610px;
            height: 100%;
            width: 100%;

            &:hover {
                background-position: -290px 0;
            }
        }
      }
}

@keyframes morph {
	0%,
	100% {
	  background-color: #ffc548;
	  border: 5px solid #ffba24;
	  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
	}
  
	34% {
	  border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
	}
  
	67% {
	  background-color: #ffba24;
	  border: 5px solid #ffc548;
	  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
	}
  }

  .buttons {
    margin-top: 40px;
  }

  button {
    border: none;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 18px 28px;
    // width: 100px;

    &.contact {
        background-color: $purple;
        color: #fff;
    }

    &:active {
        transform: translateY(1px);
    }
  }