@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #5a5a5a;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

#container {
	margin: 0 auto;
}

.section {
	// background: red;
    display: flex;
    flex-direction: row;
    height: 100vh;
	margin: 0 auto;
	width: 980px;

    .sub-section {
        // background: red;
        // align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        text-align: left;
        width: 50%;

		&.photo {
			align-items: center;
		}

		.name {
			color: #282828;

			span {
				display: inline-block;
				height: 12px;
				margin-right: 10px;
				position: relative;
				width: 100px;

				&::before {
					background-color: #282828;
					content: '';
					display: block;
					height: 1px;
					position: absolute;
					top: 50%;
					// transform: translate(0, -50%);
					width: 100%;
				}
			}
		}

		.description {
			line-height: 1.8em;
			margin-top: 40px;
		}

        h1 {
			font-size: 50px;
			font-weight: 600;
        }
        
        .icon {
			animation: morph 6s linear infinite;
			border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
			height: 300px;
			overflow: hidden;
			width: 300px;
			
			.icon-image {
				background-image: url(https://assets.codepen.io/8370674/icons.png);
				background-position: 0 -320px;
				background-repeat: no-repeat;
				background-size: 610px 610px;
				height: 100%;
				width: 100%;

				&:hover {
					background-position: -290px 0;
				}
			}
		  }
    }
}


@keyframes morph {
	0%,
	100% {
	  background-color: #ffc548;
	  border: 5px solid #ffba24;
	  border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
	}
  
	34% {
	  border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
	}
  
	67% {
	  background-color: #ffba24;
	  border: 5px solid #ffc548;
	  border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
	}
  }